.main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

div {
  vertical-align: top;
}

header {
  background-color: #D9D9D9;
  padding: 20px;
}

.pictures {
  margin: 20px 0;
}

img {
  max-height: 200px;
}

.section {
  width: 30%;
  display: inline-block;
  height: 200px;
  margin-right: 2%;
}

.movies {
  background-color: #CAE6E5;
}

.actors {
  background-color: #E6CACB;
}

.foods {
  background-color: #CAE6DC;
}